<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/personal.css">
</head>
<body>
<header class="main-header fullsize-container">
    <ul class="main-nav_list">
        <li class="main-nav_item"><a href="#">Главная</a></li>
        <li class="main-nav_item"><a href="#">О нас</a></li>
        <li class="main-nav_item"><a href="#">Сервис</a></li>
        <li class="main-nav_item"><a href="#">Проекты</a></li>
        <li class="main-nav_item"><a href="#">Контакты</a></li>

    </ul>
    <div class="header-content_wrapper">
        <div class="page-type_status">
            <a href="/personal"><img class="page-type_img" src="images/5.png" alt=""></a>
        </div>
        <div class="additional-nav_dropdown">
            <img class="additional-nav_img" src="images/9.png" alt="">
        </div>
    </div>
</header>
<main>
    <section class="personal_section">
        <div class="personal_block">
            <h1>Личный кабинет</h1>
        </div>
    </section>
    <section class="main_section">
        <div class="main_block">
            <div class="personal_item">
                <div class="father_style">
                    <div class="img_item"><a href="#"><img class="plus_img" src="images/plus_PNG53.png" alt=""></div></a>
                </div>
                <div>

                </div>
                <div class="fails_item">
                    <ul>
                    <li class="input_item"><%= name %></li>
                    <li class="input_item"><%= surname %></li>
                    <li class="input_item"><%= birthdate %></li>
                    <li class="input_item"><%= e_mail %></li>
                    <li class="input_item"><%= phone %></li>
                </ul>
                </div>
            </div>
             <div class="father-projects">
                <div class="projects_block">
                   <h4 class="projects_text">Мои проекты</h4>
                </div>
                 <div class="project_background">
                     <div class="projects_style">
                         <ul>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                         </ul>

                     </div>
                 </div>
                 <a href="/activeProjects"><div><div class="active_block">
                     <div><h4 class="active_title">Активные проекты</h4></div></a>
                 </div>
                     <div class="active_background">
                         <ul>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                             <li class="square_item"><p class="square_text">Проект</p></li>
                         </ul>
                </div>
             </div>
            <div>
            </div>
             </div>
            <div class="exit_section">
                <div class="exit_block">
                    <a href="/">Выход</a>
                </div>
            </div>
    </div>

    </section>
</main>

<footer
    class="main-footer background-container">
    <section class="logo_block">
        <img src="images/logo-footer.png" alt="">
    </section>
    <section class="footer-links_section">

        <div class="about-assoc_block">
            <h3>Об ассоциации </h3>
            <ul>
                <li><a href="#">Наши партнёры</a></li>
                <li><a href="#">Реквизиты</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </div>
        <div class="for-members_block">
            <h3>Участникам</h3>
            <ul>
                <li><a href="#">Даты заездов</a> </li>
                <li> <a href="#">Проживание</a> </li>
                <li> <a href="/payment">Оплачивание</a>    </li>
                <li><a href="#">Обучение</a></li>

            </ul>
        </div>
        <div class="contacts_block">
            <h3>Контактные</h3>
            <ul>
                <li>Базайская ул,353 Красноярск</li>
                <li>svmaslova.ru</li>
                <li>+7 391 251-10-91, +7 391 251-10-77</li>
            </ul>
        </div>
    </section>
    <section class="socials_section">
        <ul>
            <li> <a href="#">Viber</a></li>
            <li><a href="#">VK</a></li>
            <li><a href="#">Skype</a></li>
            <li><a href="#">Twiter</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
    </section>
</footer>
</body>
</html>